#homebg {
    background-image: url('./static/homebg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    opacity: 0.6;
}

/* authbg.jpg is set as background for
1.Login page
2.Registration page */
#loginbg {
    background-image: url('./static/authbg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
}

/* Main Page after login bg */
#linbg{
    background-color: rgba(232, 227, 227, 0.533);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 8rem;
}
#requestbg{
    background-color: rgba(232, 227, 227, 0.533);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top:0px;
  }

/* chat page bg */
#chatbg{
  background-image: url('./static/chatbg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
}

/* Trippy-Talk */
#trippy-talk{
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
  margin-right: 1.8rem;
  color: #374c45;
}

.css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper{
    margin-top: 6rem;
}

.carousel-control-next {
  display: none;
}
.carousel-control-prev {
  display: none;
}
.carousel-indicators {
  display:none;
}

.css-f2blg9{
  margin: 8px;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
  width: 21rem;
}

.MuiDivider-root{
  width: 74%;
}


.css-hhvo2v-MuiListItem-root {  
  width: 20rem !important;
}

MyChats{
  display: none;
}